<section class="about" data-aos="zoom-out">
  <div class="about__title title">Discover Why Our Customers Love Us!</div>
  <p class="centered">We pride ourselves on customer satisfaction. Discover real reviews from trusted sites and share your own experience:</p>
  <ul class="list-reset about__reviews-list">
    <li class="about__list-item">
      <div class="about__reviews-list-img-wrap">
        <img src="img/about1.png" alt="">
      </div>
      <p>Read and rate us!</p>
    </li>
    <li class="about__list-item">
      <div class="about__reviews-list-img-wrap">
        <img src="img/about2.png" alt="">
      </div>
      <p>Join our community of satisfied customers.</p>
    </li>
    <li class="about__list-item">
      <div class="about__reviews-list-img-wrap">
        <img src="img/about3.png" alt="">
      </div>
      <p>Explore stories from truck owners like you.</p>
    </li>
  </ul>
  <p class="centered">Your feedback makes a difference! Click to learn more or to leave your review.</p>
  <ul class="list-reset about__socials">
    <li class="about__social"><a href="#"><img src="img/lin.png" alt=""></a></li>
    <li class="about__social"><a href="#"><img src="img/facebook.png" alt=""></a></li>
    <li class="about__social"><a href="#"><img src="img/wa.png" alt=""></a></li>
  </ul>
  <p class="centered">Join our community on social media!</p>
</section>