<section class="front-banner">
  <div class="container">
    <h1 class="front-banner__title">DPF delete</h1>
    <p>And save a lot of money on this and also gain happiness</p>
    <form class="filter-main">
      <div class="filter-main__group">
        <select name="pa_brand" id="pa_brand">
          <option value="">Select brand</option>
        </select>
      </div>
      <div class="filter-main__group">
        <select name="" id="">
          <option value="">Engine capacity</option>
        </select>
      </div>
      <div class="filter-main__group">
        <select name="" id="">
          <option value="">Select year</option>
        </select>
      </div>
      <div class="filter-main__group">
        <input type="text" value="Mileage">
      </div>
      <button class="filter-main__btn">Calculate Your Benefits Now</button>
    </form>
  </div>
</section>