<section class="benefits">
  <div class="container">
    <form class="benefits__form" data-aos="zoom-out">
      <div class="benefits__form-wrap">
        <div class="benefits__form-control form-control form-control--select">
          <select name="" id="" class="form-select">
            <option value="ram">RAM</option>
          </select>

        </div>
        <div class="benefits__form-control form-control form-control--select">
          <select name="" id="" class="form-select">
            <option value="3465.234">3465.234</option>
          </select>

        </div>
        <div class="benefits__form-control form-control form-control--select">
          <select name="pa_year" id="benefits_pa_year" class="form-select">
            <option value="2010">2010</option>
          </select>

        </div>
        <div class="benefits__form-control form-control">
          <input type="text" class="form-input" value="23 450 km">
        </div>
        <button type="button" class="benefits__form-btn btn-default btn-reset">BUTTON</button>
      </div>
      
      <div class="benefits__title title">Press “Delete kit” and you will see the benefits</div>
      
      @include('metrics.html')

      <button type="submit" class="btn-reset btn-default benefits__form-btn benefits__form-btn--final">Delete kit</button>
    </form>
  </div>
</section>