<section class="features">
  <div class="container">
    <div class="title">What will this give?</div>
    <div class="swiper features__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide features__slide">
          <img src="img/slide1.png" alt="">
          <div class="features__slide-body">
            <h3>Up to 20% More Power</h3>
            <p>Unleash horsepower and torque like never before</p>
          </div>
        </div>
        <div class="swiper-slide features__slide">
          <img src="img/slide1.png" alt="">
          <div class="features__slide-body">
            <h3>Up to 20% More Power</h3>
            <p>Unleash horsepower and torque like never before</p>
          </div>
        </div>
        <div class="swiper-slide features__slide">
          <img src="img/slide1.png" alt="">
          <div class="features__slide-body">
            <h3>Up to 20% More Power</h3>
            <p>Unleash horsepower and torque like never before</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
