<footer class="footer">
  <div class="container">
    <div class="footer__top">

      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title">SHOP</div>
          <ul class="footer__menu">
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Full Delete Bundles </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">DPF Delete Tuners </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">DPF Delete Pipes </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">EGR Delete Kits </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Exhaust </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Air Intake</a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Fuel Pump</a></li>
          </ul>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title">DATA</div>
          <ul class="footer__menu">
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">About us </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Reviews </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Blog </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Privacy policy </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Legal Notice </a></li>
          </ul>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title">ENGINE MAKE</div>
          <ul class="footer__menu">
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Ford Powerstroke </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Dodge Ram Cummins </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">GM Duramax </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Nissan Titan</a></li>
          </ul>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title">INFO</div>
          <ul class="footer__menu">
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Contact us </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">About us </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Reviews </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Blog </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Privacy policy </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Legal Notice </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">Cashback Program </a></li>
            <li class="footer__menu-item menu-item"><a href="#" class="footer__menu-link">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title"></div>
          <div class="widget-block__body">
            <a href="#">Ford 2007 6.7 Pickup F550</a>
            <a href="#">RAM 2024 Pickup 9.4</a>
            <a href="#">TOYOTA 1.8 2010 G670</a>
          </div>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title"></div>
          <div class="widget-block__body">
            <a href="#">Ford 2007 6.7 Pickup F550</a>
            <a href="#">RAM 2024 Pickup 9.4</a>
            <a href="#">TOYOTA 1.8 2010 G670</a>
          </div>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title"></div>
          <div class="widget-block__body">
            <a href="#">Ford 2007 6.7 Pickup F550</a>
            <a href="#">RAM 2024 Pickup 9.4</a>
            <a href="#">TOYOTA 1.8 2010 G670</a>
          </div>
        </div>
      </div>
      <div class="widget-block">
        <div class="footer__menu-wrap">
          <div class="footer__menu-title"></div>
          <div class="widget-block__body">
            <a href="#">Ford 2007 6.7 Pickup F550</a>
            <a href="#">RAM 2024 Pickup 9.4</a>
            <a href="#">TOYOTA 1.8 2010 G670</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__middle">
      <ul class="list-reset footer__socials">
        <li class="footer__socials-item"><a href="#" class="footer__socials-icon footer__socials-icon--fb"></a></li>
        <li class="footer__socials-item"><a href="#" class="footer__socials-icon footer__socials-icon--x"></a></li>
        <li class="footer__socials-item"><a href="#" class="footer__socials-icon footer__socials-icon--in"></a></li>
        <li class="footer__socials-item"><a href="#" class="footer__socials-icon footer__socials-icon--inst"></a></li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="copyright">© 2024 DPFDelete. All rights reserved.</div>
    </div>
  </div>
</footer>
