<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="/" class="logo">
        <img src="img/logo.png" alt="">
      </a>
      <button class="btn-reset burger" aria-label="Open menu" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <ul class="header__menu" data-menu>
        <li class="header__menu-item"><a href="#" class="header__link">How it works?</a></li>
        <li class="header__menu-item"><a href="#" class="header__link">Calculate the benefit</a></li>
        <li class="header__menu-item"><a href="#" class="header__link">Get a consultation</a></li>
      </ul>
    </div>
  </div>
</header>
