<div class="s-metrics" data-aos="zoom-out">
  <div class="metrics__container">
    <div class="metrics">
      <div class="metric fill-animate">
        <svg
          width="208"
          height="221"
          viewBox="0 0 208 221"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="arc fill-animate"
            d="M87.7639 7.08964L200.982 112.883C176.57 140.553 161.336 176.518 160.054 216H5.04483C6.38376 135.624 37.4599 62.4879 87.7639 7.08964Z"
            fill="#FACC2B"
            stroke="white"
            stroke-width="10"
          />
        </svg>
        <div class="metric__description fill-animate">
          <div class="metric__description-title">Power output</div>
          <div class="metric__body">450 HP <strong>+ 80 HP</strong></div>
        </div>
      </div>
      <div class="metric fill-animate">
        <svg
          width="236"
          height="215"
          viewBox="0 0 236 215"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="arc fill-animate"
            d="M119.941 207.983L7.09304 102.311C63.8904 43.4184 143.121 6.39396 231 5.03854V159.768C187.633 161.071 148.498 179.262 119.941 207.983Z"
            fill="#1B90D2"
            stroke="white"
            stroke-width="10"
          />
        </svg>
        <div class="metric__description fill-animate">
          <div class="metric__description-title">Reliability Score</div>
          <div class="metric__body">
            <del>5.6</del> <strong>7.8 (+25%)</strong>
          </div>
        </div>
      </div>
      <div class="metric fill-animate">
        <svg
          width="236"
          height="214"
          viewBox="0 0 236 214"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="arc fill-animate"
            d="M5.00107 5.03837C92.8702 6.3874 172.091 43.2259 228.89 101.817L116.043 207C87.4816 178.42 48.3546 160.324 5.00107 159.027V5.03837Z"
            fill="#F44C17"
            stroke="white"
            stroke-width="10"
          />
        </svg>
        <div class="metric__description fill-animate">
          <div class="metric__description-title">Fuel Savings</div>
          <div class="metric__body">
            <del>15 MPG</del> <strong>12 MPG (-17%)</strong>
          </div>
        </div>
      </div>
      <div class="metric fill-animate">
        <svg
          width="208"
          height="221"
          viewBox="0 0 208 221"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="arc fill-animate"
            d="M120.219 7.08916C170.532 62.4825 201.616 135.62 202.955 216H47.9703C46.6884 176.508 31.4443 140.535 7.01892 112.865L120.219 7.08916Z"
            fill="#22AC41"
            stroke="white"
            stroke-width="10"
          />
        </svg>
        <div class="metric__description fill-animate">
          <div class="metric__description-title">Maintenance Annu</div>
          <div class="metric__body">
            <del>$2100</del> <strong>$1700 (-$400)</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="car car--ram">
      <img class="car__img" src="/img/ram.png" alt="">
      <div class="car__elements" style="display: none;">
        <div class="car__element"><img src="/img/element1.png" alt=""></div>
        <div class="car__element"><img src="/img/element2.png" alt=""></div>
        <div class="car__element"><img src="/img/element3.png" alt=""></div>
        <div class="car__element"><img src="/img/element4.png" alt=""></div>
        <div class="car__element"><img src="/img/element5.png" alt=""></div>
        <div class="car__element"><img src="/img/element6.png" alt=""></div>
        <div class="car__element"><img src="/img/element7.png" alt=""></div>
        <div class="car__element"><img src="/img/element8.png" alt=""></div>
        <div class="car__element"><img src="/img/element9.png" alt=""></div>
        <div class="car__element"><img src="/img/element10.png" alt=""></div>
        <div class="car__element"><img src="/img/element11.png" alt=""></div>
        <div class="car__element"><img src="/img/element12.png" alt=""></div>
        <div class="car__element"><img src="/img/element13.png" alt=""></div>
        <div class="car__element"><img src="/img/element14.png" alt=""></div>
        <div class="car__element"><img src="/img/element15.png" alt=""></div>
        <div class="car__element"><img src="/img/element16.png" alt=""></div>
        <div class="car__element"><img src="/img/element17.png" alt=""></div>
      </div>
    </div>
  </div>
</div>