<section class="reviews" data-aos="zoom-out">
  <div class="title">Latest Reviews</div>
  <p class="centered reviews__subtitle">
    Your feedback makes a difference! Click to learn more or to leave your
    review.
  </p>
  <div class="swiper reviews__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews__item">
          <div class="reviews__header">
            <div class="reviews__title">
              <h4>Paula Convey</h4>
              <div class="rating">
                <i class="star active"></i><i class="star active"></i
                ><i class="star active"></i><i class="star active"></i
                ><i class="star"></i>
              </div>
            </div>
            <div class="reviews__source">
              <img src="img/about3.png" alt="" />
            </div>
          </div>
          <div class="reviews__body">
            <p>
              “There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text.”
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__item">
          <div class="reviews__header">
            <div class="reviews__title">
              <h4>Paula Convey</h4>
              <div class="rating">
                <i class="star active"></i><i class="star active"></i
                ><i class="star active"></i><i class="star active"></i
                ><i class="star"></i>
              </div>
            </div>
            <div class="reviews__source">
              <img src="img/about3.png" alt="" />
            </div>
          </div>
          <div class="reviews__body">
            <p>
              “There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text.”
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="reviews__item">
          <div class="reviews__header">
            <div class="reviews__title">
              <h4>Paula Convey</h4>
              <div class="rating">
                <i class="star active"></i><i class="star active"></i
                ><i class="star active"></i><i class="star active"></i
                ><i class="star"></i>
              </div>
            </div>
            <div class="reviews__source">
              <img src="img/about3.png" alt="" />
            </div>
          </div>
          <div class="reviews__body">
            <p>
              “There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text.”
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
