<section class="testimonials">
  <div class="container">
    <div class="title">Testimonials</div>
    <div class="swiper testimonials__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide testimonials__slide">
          <img class="testimonials__slide-img-desktop" src="img/testimonial1.png" alt="">
          <div class="testimonials__slide-body">
            <div class="testimonials__slide-header">
              <div class="testimonials__slide-header-left">
                <img class="testimonials__slide-img-mobile" src="img/testimonial1.png" alt="">
              </div>
              <div class="testimonials__slide-header-right">
                <h3>Mike Lebovsky</h3>
                <p class="testimonials__slide-city">Texas</p>
                <div class="rating">
                  <i class="star active"></i><i class="star active"></i><i class="star active"></i><i class="star active"></i><i class="star"></i>
                </div>
              </div>
            </div>
            <div class="testimonials__slide-text">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
              <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged make.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
